.container {
  width: 85vw;
  margin: 7rem auto;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: auto auto;
  row-gap: 12rem;
}

.container img {
  width: 75%;
  border: 1.4px solid #010101;
}

.text {
  font-size: 1.2vw;
  line-height: 1.7;
  width: 70%;
}

@media (max-width: 63rem) {
  .container {
    width: 90vw;
    grid-template-columns: 1fr;
    row-gap: 7rem;
  }

  .container img {
    width: 85%;
  }

  .replaceItem {
    order: 4;
  }

  .text {
    margin-bottom: 6rem;
    font-size: 1.5rem;
    width: 85%;
  }
}

@media (max-width: 30rem) {
  .container {
    margin: 4rem auto;
    row-gap: 4rem;
  }

  .text {
    font-size: 1.1rem;
    margin-bottom: 4.5rem;
  }
}
