.cartItem {
  border: solid 1.5px #010101;
  width: 100%;
  height: 8vw;
  font-size: 1.35vw;
}

.item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding-right: 1.2vw;
}

.cartItem img {
  width: 24%;
  height: 100%;
}

.quantity button {
  font-size: 2.5rem;
  height: auto;
  padding: 0 0.5vw;
  border: none;
  background-color: antiquewhite;
}

.quantity button:hover {
  cursor: pointer;
}

.quantityTitle {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 100%;
  gap: 2vw;
  padding-bottom: 0.6vw;
}

.removeBtn {
  display: flex;
  align-items: center;
  background-color: antiquewhite;
  border: none;
  font-size: 1vw;
  gap: 0.2vw;
}

.removeIcon {
  width: 1.4vw;
  height: 1.4vw;
}

.priceRemove {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 3vw;
  margin-bottom: 0.8vw;
}
