.cartItem {
  border: solid 1.5px #010101;
  width: 100%;
  height: 8vw;
  font-size: 1.35vw;
}

.item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding-right: 2rem;
}

.productDescription {
  width: 100%;
  display: flex;
  gap: 5rem;
}

.item p {
  margin-top: 1.2rem;
}

.cartItem img {
  width: 26%;
  height: 100%;
}

.quantity {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  font-size: 1.2vw;
}

.quantity button {
  font-size: 2.5rem;
  padding: 0.5rem;
  border: none;
  background-color: antiquewhite;
}

.quantity button:hover {
  cursor: pointer;
}

.removeBtn {
  display: flex;
  align-items: center;
  background-color: antiquewhite;
  border: none;
  font-size: 1vw;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.removeIcon {
  width: 2rem;
  height: 2rem;
}

.flexReverse {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1.2rem;
}
