.cartItem {
  border: solid 1.4px #010101;
  width: 100%;
  height: 8vw;
  font-size: 1.2vw;
  padding-right: 1rem;
}

.item {
  display: flex;
  gap: 1.2vw;
  width: 100%;
  height: 100%;
}

.text {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0.5vw 0;
}

.cartItem img {
  width: 20%;
  height: 100%;
}

.quantity {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.quantity button {
  font-size: 1.2vw;
  height: auto;
  padding: 0 0.5vw;
  border: none;
  background-color: antiquewhite;
}

.quantity button:hover {
  cursor: pointer;
}

.titleQuantity {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 1rem;
}

.priceRemove {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.removeBtn {
  display: flex;
  align-items: center;
  background-color: antiquewhite;
  border: none;
  font-size: 1vw;
  gap: 0.2vw;
  margin-bottom: 0.3rem;
}

.removeBtn:hover {
  cursor: pointer;
}

.removeIcon {
  width: 1.5vw;
  height: 1.5vw;
}

@media (max-width: 75rem) {
  .cartItem {
    height: 10rem;
    font-size: 1.5rem;
  }

  .cartItem img {
    width: 29%;
  }

  .quantity button {
    font-size: 1.8rem;
  }

  .removeBtn {
    font-size: 1.3rem;
  }
}

@media (max-width: 50rem) {
  .cartItem {
    height: 28vw;
    font-size: 3.3vw;
  }

  .cartItem img {
    margin-right: 1rem;
  }

  .text {
    margin: 1.8vw 0;
  }

  .quantity {
    font-size: 3.2vw;
    gap: 2vw;
  }

  .quantity button {
    font-size: 2.5rem;
  }

  .removeBtn {
    font-size: 2.8vw;
    gap: 0.4vw;
  }

  .removeIcon {
    width: 3.8vw;
    height: 3.8vw;
  }
}

@media (max-width: 35rem) {
  .cartItem {
    height: 23vh;
    font-size: 2rem;
  }

  .cartItem img {
    width: 28%;
    margin-right: 0.5rem;
  }
}

@media (max-width: 28.12rem) {
  .cartItem {
    font-size: 4.5vw;
    height: 50%;
  }

  .quantity {
    font-size: 4.3vw;
  }

  .removeBtn {
    font-size: 4vw;
  }

  .removeIcon {
    width: 4.4vw;
    height: 4.4vw;
  }
}
