.header {
  width: 100vw;
  height: 6.5rem;
  font-family: 'JetBrains Mono', sans-serif;
  background-color: #e9f79a;
  color: #010101;
  font-size: 2rem;
  padding: 1.6rem 5.2vw;
  border-bottom: solid 1.4px #010101;
  font-weight: 500;
  text-transform: uppercase;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}

.header a:link,
.header a:visited {
  color: #010101;
}

.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a {
  text-decoration: none;
}

.logo {
  margin-left: -5rem;
}

.shopAbout {
  display: flex;
  gap: 2.5rem;
}

.SidebarIcon {
  display: none;
}

.SidebarIcon:hover {
  cursor: pointer;
}

.cartIcon {
  cursor: pointer;
  position: relative;
}

.numCartItems {
  width: 1.8rem;
  height: 1.8rem;
  font-size: 1.3rem;
  text-align: center;
  background-color: #010101;
  color: white;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 2rem;
}

@media (max-width: 63rem) {
  .header {
    padding: 1.4rem 2.5rem;
  }

  .logo {
    margin: 0;
  }

  .shopAbout {
    display: none;
  }

  .SidebarIcon {
    display: inline-block;
  }
}

@media (max-width: 27rem) {
  .header {
    height: 5.5rem;
    padding-top: 1rem;
  }
}
