.header {
  width: 100vw;
  height: 7rem;
  background-color: #e9f79a;
  color: #010101;
  font-size: 2rem;
  padding: 0rem 10vw;
  border-bottom: solid 1.9px #010101;
  font-weight: 500;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  left: 0;
}

.header nav {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shopAbout {
  display: flex;
  gap: 2.5rem;
}

.SidebarIcon {
  display: none;
}

.SidebarIcon:hover {
  cursor: pointer;
}

@media (max-width: 63rem) {
  .header {
    padding: 0.1rem 2rem;
  }

  .shopAbout {
    display: none;
  }

  .SidebarIcon {
    display: inline-block;
  }
}
