.sidebar {
  font-family: 'Dela Gothic One', sans-serif;
  font-size: 4rem;
  font-weight: 900;
  height: 100vh;
  width: 60vw;
  padding: 9rem 5rem;
  background-color: #010101;
  z-index: 99999999;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  animation: scale-up-hor-left 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.sidebarContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.sidebar li {
  list-style: none;
}

.sidebar ul a {
  color: white;
  text-decoration: none;
  padding: 0.4rem 2rem;
  border: solid 2px #010101;
}

.sidebar ul a:hover,
.sidebar ul a:active {
  border: solid 2px #e9f79a;
}

.sidebar img {
  height: 50rem;
  position: absolute;
  width: fit-content;
  margin-left: 2rem;
}

.closeIcon {
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 2.5rem;
  left: 3rem;
}

.closeIcon:hover {
  cursor: pointer;
  animation: scale-down-bottom 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.overlayBlur {
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(4px);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}

@media (max-width: 50rem) {
  .sidebar {
    width: 100vw;
    font-size: 5rem;
  }
}

@media (max-width: 35rem) {
  .sidebar {
    font-size: 3.5rem;
  }

  .sidebar ul {
    gap: 1rem;
  }
}

@keyframes scale-up-hor-left {
  0% {
    transform: scaleX(0.4);
    transform-origin: 0% 0%;
  }
  100% {
    transform: scaleX(1);
    transform-origin: 0% 0%;
  }
}

@keyframes scale-down-bottom {
  0% {
    transform: scale(1);
    transform-origin: 50% 100%;
  }
  100% {
    transform: scale(0.8);
    transform-origin: 50% 100%;
  }
}
