.footer {
  margin-top: 10rem;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  padding: 1.8rem 5rem;
  border-top: 1.4px solid #010101;
}

.text {
  display: flex;
  gap: 2.5rem;
}

.text a {
  color: #010101;
  text-decoration: none;
}

.text:hover {
  cursor: pointer;
}

.icons {
  display: flex;
  gap: 2rem;
}

.icon:hover {
  cursor: pointer;
}
