.hero {
  padding-top: 7rem;
  width: 100%;
  height: 100%;
  margin-bottom: 7rem;
}

.heroContent {
  width: 100%;
  height: 100%;
  padding: 0 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 9.5vw;
}

.text {
  width: 60%;
}

.heroTitle {
  font-family: 'Dela Gothic One', sans-serif;
  font-size: 3.6vw;
  text-align: start;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
  position: relative;
}

.titleWords {
  background-color: #ff8500;
}

.heroSubtitle {
  font-size: 1.8vw;
  font-family: 'JetBrains Mono', sans-serif;
  margin-bottom: 3.5rem;
}

.btns {
  display: flex;
  gap: 4rem;
}

.btns a {
  width: 50%;
  padding: 1.2rem 0;
  font-size: 1.4vw;
  font-family: 'JetBrains Mono', sans-serif;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
}

.btns a:hover,
.btns a:active {
  cursor: pointer;
  background-color: #daff7d;
  color: #010101;
}

.aboutBtn {
  border: solid 1.7px #010101;
  color: #010101;
}

.shopBtn {
  border: solid 1.7px #010101;
  background-color: #982bfe;
  color: #fff2e6;
}

.hero img {
  border: solid 1.6px #010101;
  width: 35vw;
  height: auto;
}

@media (max-width: 63rem) {
  .heroContent {
    flex-direction: column-reverse;
  }

  .hero img {
    width: 80vw;
    height: auto;
  }

  .text {
    width: 100%;
  }

  .heroTitle {
    font-size: 5vw;
    text-align: center;
    width: 95%;
    margin-bottom: 1.5rem;
  }

  .heroSubtitle {
    font-size: 3.5vw;
    text-align: center;
  }

  .btns {
    display: grid;
    row-gap: 1.6rem;
  }

  .btns a {
    width: 100%;
    font-size: 1.9rem;
    padding: 1.6rem 0;
  }
}

@media (max-width: 27rem) {
  .hero {
    padding-top: 4.8rem;
  }

  .heroContent {
    gap: 3rem;
  }

  .heroSubtitle {
    margin-bottom: 2.6rem;
  }

  .btns a {
    font-size: 1.35rem;
    padding: 1.2rem;
  }
}
